/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fa;
    color:#333;
    line-height:1.6;

}

/* Header */

header{

    background:#1e3a8a;
    color:white;
    padding:20px;

}

/* Name */

header h1{

    text-align:center;
    margin-bottom:15px;

}

/* Navigation */

nav{

    text-align:center;

}

nav a{

    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;

}

nav a:hover{

    color:#ffd700;

}

/* Sections */

section{

    background:white;
    width:80%;
    margin:40px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);

}

section h2{

    color:#1e3a8a;
    margin-bottom:15px;

}

/* Skills */

ul{

    margin-left:20px;

}

li{

    margin:10px 0;

}

/* Form */

input,
textarea{

    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;

}

/* Button */

button{

    background:#1e3a8a;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;

}

button:hover{

    background:#274db6;

}

/* Footer */

footer{

    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;

}